#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.blur-background {
  backdrop-filter: blur(5px);
}

.moving-icon {
  transform: translateX(-50%) translateY(-50%);
  animation: moveIcon 7s linear forwards;
}

@keyframes moveIcon {
  0% {
    transform: translateX(-50vw); 
  }
  40% {
    transform: translateX(calc(100% + 100vw)); 
  } 
  41% {
    transform: translateY(-30vh); 
  } 
  42% {
    transform: translateX(0vw);
  } 
  100% {
    transform: translateY(0vh); 
  }
}